/* Estilo general para el fondo de la tarjeta */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #d2dafd;
}

.order-summary-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
}
